<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h1>Following are the titles of given websites:</h1>
    <ul>
      <% titles.forEach(function(title){ %>
      <li><%= title %></li>
      <% }); %>
    </ul>
  </body>
</html>
